body {
    font-family: Arial, sans-serif;
    text-align: center;
    
    padding: 50px;
        width: 32cm;
      height: 399px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('clouds-summer-weather-5k-1b.jpg');
}
h2{
   
  color: black;

}
.container {
   
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #031d38;
}
.weather-info {
    margin-top: 20px;
}
i{
    background-color: #007bff;
    padding: 8px 6px;
    border-radius: 4px;
    cursor: pointer;
}
i:hover{
    background: rgba(59, 59, 231, 0.61) ;
}

